<div id="wrapper">
    <nav class="main-nav-bar">
        <div id="cmx-logo">
            <a href="#"><svg class="cmx-logo">
            <use xlink:href="#cmx-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
        </div><!-- end cmx-logo -->
        <div class="main-nav-items">
            <div class="main-nav-item nav-notifications-item">
                <div class="notifications">
                    <div class="as-label">
                        Notifications
                    </div>
                    <div class="circle red-circle">
                        99
                    </div>
                </div>
                <div class="notifications-container" style="display: none;">
                    <div class="notifications-list">
                        <div class="notification-entry">
                            <div class="notification-icon">
                                <svg class="icon-warning-red">
                                <use xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </div>
                            <div class="notification-data">
                                <h5>CUSTOMER INFORMATION</h5>
                                <p>The jobsite <strong>Wilder Ranch</strong> has just been created. Would you like to place an order?</p><a class="call-to-action" href="#">ORDER</a>
                            </div><!-- end notification-data -->
                            <div class="horizontal-dotted"></div>
                        </div><!-- end notification-entry -->
                        <div class="notification-entry">
                            <div class="notification-icon">
                                <svg class="icon-warning-red">
                                <use xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </div>
                            <div class="notification-data">
                                <h5>QUOTATION AND PRICING</h5>
                                <p><strong>2311112 - Rideback Eastern River Valley</strong> You have a new quotation ready for review.</p><a class="call-to-action" href="#">REVIEW</a>
                            </div><!-- end notification-data -->
                            <div class="horizontal-dotted"></div>
                        </div><!-- end notification-entry -->
                        <div class="notification-entry">
                            <div class="notification-icon">
                                <svg class="icon-warning-red">
                                <use xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </div>
                            <div class="notification-data">
                                <h5>TRACK AND TRACE</h5>
                                <p>The delivery for <strong>Wilder Ranch Orinda</strong> is in jeopardy due to an accident on the interstate with no exit route.</p><a class="call-to-action" href="#">MANAGE</a>
                            </div><!-- end notification-data -->
                        </div><!-- end notification-entry -->
                    </div><!-- end notifications-list -->
                    <div class="horizontal-dotted"></div><a class="main-cta" href="">VIEW ALL NOTIFICATIONS</a>
                </div><!-- end .notifications-container -->
            </div>
            <div class="vertical-bar"></div>
            <div class="main-nav-item">
                <div class="search-container">
                    <svg class="icon-magnifier-glass">
                    <use xlink:href="#icon-magnifier-glass" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <!-- end .icon-magnifier-glass -->
                    <div class="search-holder">
                        <input type="submit"> <svg class="icon-magnifier-glass fake-submit">
                        <use xlink:href="#icon-magnifier-glass" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> <input placeholder="Type to search and press enter" type="search">
                        <div class="dismiss-search">
                            <svg class="icon-close-silver">
                            <use xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                        </div>
                    </div><!-- end .search-holder -->
                </div><!-- end .search-container -->
            </div>
            <div class="vertical-bar"></div>
            <div class="main-nav-item user-logged-item">
                <div class="user-logged">
                    <div class="circle white-circle">
                        VT
                    </div>
                </div>
                <div class="user-logged-container">
                    <div class="arrow-up"></div>
                    <div class="circle deep-blue-circle">
                        VT
                    </div>
                    <div class="user-logged-details">
                        <h4>Viktor Thorstten</h4><span class="email">michael@wasserman.com</span>
                    </div><!-- end .user-logged-details -->
                    <div class="horizontal-dotted"></div>
                    <div class="call-to-action">
                        <a class="settings-link" href="#">General Settings</a> <a class="signout-link" href="#">Sign Out</a>
                    </div><!-- end .call-to-action -->
                </div><!-- end .user-logged-container -->
            </div>
        </div><!-- end .main-nav-items -->
        <div class="sub-nav-loader"></div><!-- end .sub-nav-loader -->
    </nav>
    <nav class="side-nav-bar navbar-static-side" style="margin-left: 0px;">
        <div class="collapse-trigger opened-nav" style="display: block;">
            <svg class="icon-left-double-silver">
            <use xlink:href="#icon-left-double" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </div>
        <div class="expand-trigger hidden-nav" style="display: none;">
            <svg class="icon-right-double-silver">
            <use xlink:href="#icon-right-double" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </div>
        <div class="legal-entity">
            <div class="legal-entity-name">
                Acme Construction
            </div>
            <div class="legal-entity-id">
                #1233312 &gt;
            </div>
        </div>
        <ul>
            <li>
                <a href="#"><span class="icon padding-helper"><svg class="start-icon-white">
                <use xlink:href="#start-icon-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Home</span></a>
            </li>
            <li>
                <a href="buttons.html"><span class="icon padding-helper"><svg class="buttons-icon-white">
                <use xlink:href="#buttons-icon-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Orders</span></a>
            </li>
            <li>
                <a href="#"><span class="icon padding-helper"><svg class="navigation-icon-white">
                <use xlink:href="#navigation-icon-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Navigation</span></a>
            </li>
            <li>
                <a href="#"><span class="icon padding-helper"><svg class="dashboard-modules-icon-white">
                <use xlink:href="#dashboard-modules-icon-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Modules</span></a>
            </li>
            <li>
                <a href="#"><span class="icon padding-helper"><svg class="components-icon-white">
                <use xlink:href="#components-icon-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Developers</span></a>
            </li>
        </ul>
    </nav><!-- end .navbar-default -->
    <div class="page-wrapper" style="margin-left: 160px;">
        <router-outlet></router-outlet>
    </div><!-- end .page-wrapper -->
</div>