<!-- <div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<svg style="display: none;">
    <defs>
        <!-- symbols need only in styleguide / not official app -->

        <symbol id="start-icon-white" viewBox="0 0 148.3 141">
            <title>home-start-icon</title>
            <path class="start-icon-white" d="M145.2,63.7c-0.2-0.2-0.3-0.3-0.5-0.5l-62.2-60c-4.7-4.4-12-4.4-16.8,0L47.3,21.1v-5.8c0-1.3-1-2.3-2.3-2.3H27.4c-1.3,0-2.3,1-2.3,2.3v25.7c0,0.4,0.1,0.9,0.4,1.2L3.6,63.3c-4.7,4.5-4.8,11.9-0.3,16.6c4.5,4.7,11.9,4.8,16.6,0.3l2.2-2.1v46c0,9.4,7.6,17,17,17h69.8c9.4,0,17-7.6,17-17V77.6l2.7,2.6c4.5,4.6,12,4.7,16.6,0.2C149.7,75.8,149.8,68.4,145.2,63.7z M108.8,130.5H88.7V96.4c0-4.4-3.6-8-8-8h-13c-4.4,0-8,3.6-8,8v34.1H39c-3.6,0-6.4-2.9-6.4-6.5V67.9l7-6.7l10.9-10.5l23.7-22.9l23.7,22.9l10.9,10.5l6.5,6.2c0,0.1,0,0.1,0,0.2l0,56.4C115.3,127.6,112.4,130.5,108.8,130.5z"></path>
        </symbol>

        <symbol id="alerts-icon-white" viewBox="0 0 321.58 281.94">
            <title>alerts-icon-white</title>
            <path class="alerts-icon-white" d="M319.86,262.68,171.91,6.43A12.72,12.72,0,0,0,160.79,0h0a12.72,12.72,0,0,0-11.12,6.42L1.72,262.68a12.84,12.84,0,0,0,11.12,19.26h295.9a12.84,12.84,0,0,0,11.12-19.26ZM160.79,231.5a14.75,14.75,0,1,1,14.75-14.75A14.75,14.75,0,0,1,160.79,231.5Zm14-52.68c0,6-6.34,10.92-14.08,10.92s-14.08-4.92-14.08-10.92l-6.85-90.16c0-6,13.2-6.49,20.94-6.49s20.94.48,20.92,6.49Z" transform="translate(0 0)"></path>
        </symbol>

        <symbol id="progressbar-icon-white" viewBox="0 0 321.58 63.96">
            <title>progressbar-icon-white</title>
            <path class="progressbar-icon-white" d="M313.58,113.35H8a8,8,0,0,0-8,8v48a8,8,0,0,0,8,8H313.58a8,8,0,0,0,8-8v-48A8,8,0,0,0,313.58,113.35Zm0,56L193,169l30-47.65h90.58Z" transform="translate(0 -113.35)"></path>
        </symbol>

        <symbol id="grid-icon-white" viewBox="0 0 226.8 272.3">
            <title>grid-icon-white</title>
            <g>
                <path class="grid-icon-white" d="M97.2,209.2H130c1.4,0,2.6-1.2,2.6-2.6V2.6c0-1.4-1.2-2.6-2.6-2.6H97.2c-1.4,0-2.6,1.2-2.6,2.6v204
                    C94.6,208.1,95.8,209.2,97.2,209.2z"></path>
                <path class="grid-icon-white" d="M23,209.2h32.8c1.4,0,2.6-1.2,2.6-2.6V2.6c0-1.4-1.2-2.6-2.6-2.6H23c-1.4,0-2.6,1.2-2.6,2.6v204
                    C20.5,208.1,21.6,209.2,23,209.2z"></path>
                <path class="grid-icon-white" d="M174.1,209.2h32.8c1.4,0,2.6-1.2,2.6-2.6V2.6c0-1.4-1.2-2.6-2.6-2.6h-32.8c-1.4,0-2.6,1.2-2.6,2.6v204
                    C171.5,208.1,172.6,209.2,174.1,209.2z"></path>
                <polygon class="grid-icon-white" points="226.8,252.4 192.2,232.4 192.2,248.4 34.5,248.4 34.5,232.4 0,252.4 34.5,272.3 34.5,255.5 
                    192.2,255.5 192.2,272.3 	"></polygon>
            </g>
        </symbol>

        <symbol id="typography-icon-white" viewBox="0 0 340.07 339.88">
            <title>typography-icon-white</title>
            <g>
                <path class="typography-icon-white" d="M185.32,0H0V38H68.75v189.5h46.88V38h69.69Z" transform="translate(0 0.03)"></path>
                <path class="typography-icon-white" d="M340.06,102.46H291.63L260.38,207.6,229,102.47H180.38L239.6,272l-5.31,13.91q-3.6,9.06-9.92,13t-19.14,3.91l-6.88-.16v34.22a71,71,0,0,0,20,3q34.84,0,50-33.12l3.75-8.91,68-195.35Z" transform="translate(0 0.03)"></path>
            </g>
        </symbol>

        <symbol id="colors-icon-white" viewBox="0 0 341.8 340.2">
            <title>colors-icon-white</title>
            <path class="colors-icon-white" d="M278.81,130.61a110,110,0,1,0-216.08.24A110,110,0,1,0,171,321.75,110,110,0,1,0,278.81,130.61ZM170.76,12.37A100,100,0,0,1,269.2,129.76a105.86,105.86,0,0,0-98.38,10A105.87,105.87,0,0,0,72.34,130,100.05,100.05,0,0,1,170.76,12.37ZM112.36,327.83A100,100,0,0,1,68.22,138.2a106,106,0,0,0,57.35,69.72,105.84,105.84,0,0,0,40.35,104.36A99.49,99.49,0,0,1,112.36,327.83Zm117.08-.12A99.49,99.49,0,0,1,176,312.27a105.84,105.84,0,0,0,40.15-104.45,106,106,0,0,0,57.16-69.9,100,100,0,0,1-43.92,189.79Z"></path>
        </symbol>

        <symbol id="buttons-icon-white" viewBox="0 0 325 97.2">
            <title>buttons-icon-white</title>
            <g>
                <path class="buttons-icon-white" d="M97.4,50.7h-5.9v8.8H97c1.3,0.1,2.6-0.3,3.6-1.1c0.9-0.8,1.4-2,1.3-3.2C102,52.2,100.5,50.7,97.4,50.7z"></path>
                <path class="buttons-icon-white" d="M317.5,0H7.5C3.4,0,0,3.4,0,7.5v82.2c0,4.1,3.4,7.5,7.5,7.5h310c4.1,0,7.5-3.4,7.5-7.5V7.5
                    C325,3.4,321.6,0,317.5,0z M104.3,61.3c-1.7,1.4-4.2,2.1-7.3,2.2H86.6V35h9.8c3.2,0,5.7,0.6,7.3,1.9c1.7,1.4,2.7,3.5,2.5,5.8
                    c0,1.3-0.4,2.5-1.1,3.5c-0.8,1.1-1.8,1.9-3.1,2.4c1.4,0.3,2.7,1.2,3.6,2.4c0.9,1.2,1.3,2.7,1.3,4.1C107,57.5,106.1,59.7,104.3,61.3
                    z M132.6,35v19c0.1,2.7-0.9,5.3-2.9,7.2c-4.6,3.5-10.9,3.5-15.5,0c-2-1.9-3-4.5-2.9-7.2v-19h5v19c-0.1,1.6,0.4,3.1,1.5,4.4
                    c1.1,1.1,2.7,1.6,4.3,1.5c3.8,0,5.7-2,5.7-6V35L132.6,35L132.6,35z M158.5,39h-8.9v24.4h-4.9V39h-8.8v-4h22.6V39z M174.2,39v24.4
                    h-4.9V39h-8.8v-4H183l0,4H174.2z M208.9,50c0.1,2.5-0.4,5-1.4,7.3c-0.9,2-2.3,3.7-4.1,4.8c-3.8,2.3-8.5,2.3-12.3,0
                    c-1.8-1.2-3.3-2.8-4.2-4.8c-1-2.3-1.5-4.7-1.5-7.2v-1.6c-0.1-2.5,0.5-5,1.5-7.3c0.9-2,2.3-3.7,4.2-4.9c1.8-1.1,4-1.7,6.2-1.7
                    c2.2,0,4.3,0.5,6.2,1.7c1.8,1.2,3.3,2.8,4.1,4.8c1,2.3,1.5,4.8,1.5,7.3L208.9,50z M236.4,63.4l-4.9,0l-12.7-20.2v20.2h-4.9V35h4.9
                    l12.7,20.2V35h4.9V63.4z"></path>
                <path class="buttons-icon-white" d="M193.4,40c-0.5,0.4-0.9,0.8-1.2,1.2c-1.2,1.7-1.8,4-1.8,7.1V50c0,3.1,0.6,5.5,1.8,7.2c1.1,1.7,3.1,2.6,5.1,2.6
                    c2,0.1,3.9-0.9,5-2.5c1.2-1.7,1.8-4.1,1.8-7.3v-1.5c0-3.2-0.6-5.6-1.8-7.2C200.1,38.5,196.1,37.9,193.4,40z"></path>
                <path class="buttons-icon-white" d="M100,46c0.9-0.7,1.4-1.8,1.3-3c0.1-1.1-0.3-2.3-1.2-3c-1.1-0.7-2.4-1-3.7-0.9h-4.8v8l4.8,0
                    C97.6,47.1,98.9,46.7,100,46z"></path>
            </g>
        </symbol>

        <symbol id="icons-icon-white" viewBox="0 0 338.5 338.5">
            <title>buttons-icon-white</title>
            <g id="icons_icon" data-name="icons icon">
                <path class="icons-icon-white" d="M169.2,42.22A127.35,127.35,0,1,1,78.77,80l.59-.59A126.23,126.23,0,0,1,169.2,42.22m0-42.22A169.25,169.25,0,1,0,338.48,169.26h0A169.25,169.25,0,0,0,169.24,0Z" transform="translate(0.02 0)"></path>
                <path class="icons-icon-white" d="M71.18,159.42" transform="translate(0.02 0)"></path>
                <path class="icons-icon-white" d="M185.56,254.88H152.7V129.27h32.86ZM169.19,118.36c-5.7,0-10.21-1.68-13.38-5a17,17,0,0,1-4.74-12.26,17.43,17.43,0,0,1,4.74-12.43c3.18-3.35,7.69-5.05,13.4-5.05s10.21,1.7,13.43,5a17.3,17.3,0,0,1,4.82,12.44,17,17,0,0,1-4.84,12.29c-3.24,3.38-7.75,5-13.43,5Z" transform="translate(0.02 0)"></path>
                </g>
        </symbol>		

        <symbol id="navigation-icon-white" viewBox="0 0 246.5 156.6">
            <title>cards-icon-white</title>
            <path class="navigation-icon-white" d="M118.1,0H13.7c-3,0-5.4,2.4-5.4,5.3c0,0,0,0,0,0v27.8c0,3,2.4,5.4,5.4,5.4h104.5c3,0,5.4-2.4,5.4-5.4
                c0,0,0,0,0,0V5.4C123.5,2.4,121.1,0,118.1,0C118.1,0,118.1,0,118.1,0z"></path>
            <path class="navigation-icon-white" d="M241.1,0H136.7c-3,0-5.4,2.4-5.4,5.4v27.8c0,3,2.4,5.4,5.4,5.4h104.4c3,0,5.4-2.4,5.4-5.4c0,0,0,0,0,0V5.4
                C246.5,2.4,244.1,0,241.1,0C241.1,0,241.1,0,241.1,0z"></path>
            <path class="navigation-icon-white" d="M241.1,47.8H136.7c-3,0-5.4,2.4-5.4,5.4c0,0,0,0,0,0v27.9c0,3,2.4,5.4,5.4,5.4h104.4c3,0,5.4-2.4,5.4-5.4V53.2
                C246.5,50.2,244.1,47.8,241.1,47.8C241.1,47.8,241.1,47.8,241.1,47.8z"></path>
            <path class="navigation-icon-white" d="M241.1,95.6H136.7c-3,0-5.4,2.4-5.4,5.4v27.9c0,3,2.4,5.4,5.4,5.4h104.4c3,0,5.4-2.4,5.4-5.4V101
                C246.5,98,244.1,95.6,241.1,95.6z"></path>
            <polygon class="navigation-icon-white" points="0,96.3 54.8,103.1 69.2,156.6 99.2,58.3 "></polygon>
        </symbol>

        <symbol id="dashboard-modules-icon-white" viewBox="0 0 137.4 137.4">
            <title>dashboard-modules-icon-white</title>
            <g>
                <path class="dashboard-modules-icon-white" d="M131,0H6.4C2.9,0,0,2.9,0,6.4V131c0,3.5,2.9,6.4,6.4,6.4H131c3.5,0,6.4-2.9,6.4-6.4V6.4
                    C137.5,2.9,134.6,0,131,0C131.1,0,131,0,131,0z M127.8,9.6v102.2H9.6V9.6H127.8z"></path>
                <path class="dashboard-modules-icon-white" d="M45.7,69c1.9,1.9,4.9,1.9,6.8,0l15.2-15.2c1.9-1.8,2-4.9,0.2-6.8c-1.8-1.9-4.9-2-6.8-0.2
                    c-0.1,0.1-0.1,0.1-0.2,0.2L45.7,62.2C43.8,64.1,43.8,67.1,45.7,69z"></path>
                <path class="dashboard-modules-icon-white" d="M69.7,69c1.9,1.9,4.9,1.9,6.8,0l15.2-15.2c1.8-1.9,1.7-5-0.2-6.8c-1.9-1.8-4.8-1.8-6.6,0L69.7,62.2
                    C67.8,64.1,67.8,67.1,69.7,69z"></path>
            </g>
        </symbol>

        <symbol id="tables-icon-white" viewBox="0 0 341.53 236.64">
            <title>tables-icon-white</title>
            <g>
                <path class="tables-icon-white" d="M69.2,35.49H7a7,7,0,0,1-7-7V7A7,7,0,0,1,7,0H69.2a7,7,0,0,1,7,7V28.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M69.2,85.77H7a7,7,0,0,1-7-7V57.29a7,7,0,0,1,7-7H69.2a7,7,0,0,1,7,7V78.77A7,7,0,0,1,69.2,85.77Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M69.2,136.06H7a7,7,0,0,1-7-7V107.58a7,7,0,0,1,7-7H69.2a7,7,0,0,1,7,7v21.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M69.2,186.4H7a7,7,0,0,1-7-7V157.87a7,7,0,0,1,7-7H69.2a7,7,0,0,1,7,7V179.4A7,7,0,0,1,69.2,186.4Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M69.2,236.64H7a7,7,0,0,1-7-7V208.16a7,7,0,0,1,7-7H69.2a7,7,0,0,1,7,7v21.48A7,7,0,0,1,69.2,236.64Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M157.61,85.77H95.46a7,7,0,0,1-7-7V57.29a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7V78.77A7,7,0,0,1,157.61,85.77Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M158.12,136.06H96a7,7,0,0,1-7-7V107.58a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7v21.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M158.6,186.4H96.45a7,7,0,0,1-7-7V157.87a7,7,0,0,1,7-7H158.6a7,7,0,0,1,7,7V179.4A7,7,0,0,1,158.6,186.4Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M246.07,85.77H183.92a7,7,0,0,1-7-7V57.29a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7V78.77A7,7,0,0,1,246.07,85.77Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M334.53,85.77H272.38a7,7,0,0,1-7-7V57.29a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7V78.77A7,7,0,0,1,334.53,85.77Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M247.1,136.06H185a7,7,0,0,1-7-7V107.58a7,7,0,0,1,7-7H247.1a7,7,0,0,1,7,7v21.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M157.61,35.49H95.46a7,7,0,0,1-7-7V7a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7V28.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M246.07,35.49H183.92a7,7,0,0,1-7-7V7a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7V28.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                <path class="tables-icon-white" d="M334.53,35.49H272.38a7,7,0,0,1-7-7V7a7,7,0,0,1,7-7h62.15a7,7,0,0,1,7,7V28.48a7,7,0,0,1-7,7Z" transform="translate(0)"></path>
                </g>
        </symbol>

        <symbol id="maps-icon-white" viewBox="0 0 276.97 217.43">
            <title>maps-icon-white</title>
            <path class="maps-icon-white" d="M139.7,0c-39.8,0-72,32.2-72,72c0,38.6,65.6,102.4,68.4,105.1c2,1.9,5.2,1.9,7.2,0 c2.8-2.7,68.4-66.4,68.4-105.1l0,0C211.7,32.3,179.5,0,139.7,0z M139.7,88.9c-13.1,0-23.7-10.6-23.7-23.7s10.6-23.7,23.7-23.7 c13.1,0,23.7,10.6,23.7,23.7v0C163.4,78.2,152.8,88.8,139.7,88.9L139.7,88.9z"></path>
            <path class="maps-icon-white" d="M162.1,213.4V186c0-2.2,1.8-4,4-4h106.9c2.2,0,4,1.8,4,4v27.4c0,2.2-1.8,4-4,4H166.1 C163.9,217.4,162.1,215.6,162.1,213.4z"></path>
            <path class="maps-icon-white" d="M0,213.4V186c0-2.2,1.8-4,4-4h106.9c2.2,0,4,1.8,4,4v27.4c0,2.2-1.8,4-4,4H4C1.8,217.4,0,215.6,0,213.4z"></path>
        </symbol>

        <symbol id="forms-icon-white" viewBox="0 0 281.6 154.9">
            <title>forms-icon-white</title>
            <path class="forms-icon-white" d="M25.2,49.1c-1.2,0-2.1-1.6-2.1-3.5V21.7c0-1.9,1-3.5,2.1-3.5s2.1,1.5,2.1,3.5v23.9
                C27.4,47.6,26.4,49.1,25.2,49.1z"></path>
            <path class="forms-icon-white" d="M281.6,3c0-1.7-1.3-3-3-3H3.6C3.5,0,3.4,0,3.3,0C3.2,0,3.1,0,3,0C2.5,0,2.1,0.3,1.8,0.7C1.1,1.2,0.7,2,0.6,2.9
                C0.2,4.4,0,6,0,7.6v52.3c0,1.6,0.2,3.2,0.6,4.7c0,0.9,0.4,1.6,1.1,2.2c0.3,0.4,0.7,0.6,1.2,0.7c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.4,0
                h275c1.7,0,3-1.4,3-3c0-0.4-0.1-0.9-0.3-1.3c0.2-1.1,0.3-2.2,0.3-3.3V7.6c0-1.1-0.1-2.2-0.3-3.3C281.5,3.9,281.6,3.4,281.6,3z
                    M13.9,14h253.8c0,0.5-0.1,1-0.1,1.6v36.3c0,0.5,0,1.1,0.1,1.6H13.9c0-0.5,0.1-1,0.1-1.6V15.6C14,15,14,14.5,13.9,14z"></path>
            <path class="forms-icon-white" d="M281.6,90.5c0-1.7-1.3-3-3-3H3.6c-0.1,0-0.2,0-0.4,0c-0.1,0-0.2,0-0.3,0c-0.5,0-0.9,0.3-1.2,0.7
                c-0.7,0.5-1.1,1.3-1.1,2.2C0.2,91.9,0,93.5,0,95.1v52.3c0,1.6,0.2,3.2,0.6,4.7c0,0.9,0.4,1.6,1.1,2.2c0.3,0.4,0.7,0.6,1.2,0.7
                c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.4,0h275c1.7,0,3-1.4,3-3c0-0.4-0.1-0.9-0.3-1.3c0.2-1.1,0.3-2.2,0.3-3.3V95.1
                c0-1.1-0.1-2.2-0.3-3.3C281.5,91.4,281.6,90.9,281.6,90.5z M13.9,101.5h253.8c0,0.5-0.1,1-0.1,1.6v36.3c0,0.5,0,1.1,0.1,1.6H13.9
                c0-0.5,0.1-1,0.1-1.6v-36.3C14,102.5,14,102,13.9,101.5L13.9,101.5z"></path>
        </symbol>

        <symbol id="modals-icon-white" viewBox="0 0 281.67 250.52">
            <title>modals-icon-white</title>
                <path class="modals-icon-white" d="M274.7,0H7C3.1,0,0,3.1,0,7v236.5c0,3.9,3.1,7,7,7h267.7c3.9,0,7-3.1,7-7V7C281.7,3.1,278.5,0,274.7,0z
                        M275.5,207.2H6V50.3h269.7L275.5,207.2z M257,30.4c1.2,1.2,1.2,3.1,0,4.2c-1.2,1.2-3.1,1.2-4.2,0l-4.7-4.7l-4.7,4.7
                    c-1.2,1.2-3.1,1.2-4.3,0s-1.2-3.1,0-4.3l4.7-4.7L239,21c-1.2-1.1-1.3-3-0.2-4.2c1.1-1.2,3-1.3,4.2-0.2l0.1,0.2l4.8,4.7l4.7-4.7
                    c1.1-1.2,3-1.3,4.2-0.2c1.2,1.1,1.3,3,0.1,4.2L257,21l-4.7,4.7L257,30.4z M6,243.5v-30.3h132.2v31.3H7C6.4,244.5,6,244.1,6,243.5z"></path>
                <path class="modals-icon-white" d="M199.7,75H25.9c-2.2,0-4,1.8-4,4v18.2c0,2.2,1.8,4,4,4h173.8c2.2,0,4-1.8,4-4V79C203.7,76.8,201.9,75,199.7,75z
                    "></path>
                <path class="modals-icon-white" d="M154.1,114.3H25.4c-1.9,0-3.5,1.5-3.5,3.5V137c0,1.9,1.5,3.5,3.5,3.5h128.7c1.9,0,3.5-1.5,3.5-3.5v-19.3
                    C157.6,115.8,156,114.3,154.1,114.3z"></path>
                <path class="modals-icon-white" d="M224.8,153.6H26.2c-2.4,0-4.3,1.9-4.3,4.3v17.7c0,2.4,1.9,4.3,4.3,4.3h198.6c2.4,0,4.3-1.9,4.3-4.3v-17.7
                    C229.1,155.5,227.2,153.6,224.8,153.6z"></path>
        </symbol>

        <symbol id="date-time-icon-white" viewBox="0 0 338.5 338.5">
            <title>date-time-icon-white</title>
            <g>
                <path class="date-time-icon-white" d="M169.25,18.48A151.12,151.12,0,1,1,61.94,63.35l.69-.69A149.78,149.78,0,0,1,169.25,18.48m0-18.48A169.25,169.25,0,1,0,338.5,169.26h0A169.25,169.25,0,0,0,169.26,0h0Z" transform="translate(0)"></path>
                <path class="date-time-icon-white" d="M71.2,159.42" transform="translate(0)"></path>
                <path class="date-time-icon-white" d="M254.73,177H170.52V61a6,6,0,1,0-12,0V183a6,6,0,0,0,6,6h90.21a6,6,0,0,0,0-12Z" transform="translate(0)"></path>
            </g>
        </symbol>

        <symbol id="components-icon-white" viewBox="0 0 321.6 281.9">
            <title>cards-icon-white</title>
            <polygon class="components-icon-white" points="107.5,225 25.3,142.9 104,64.2 91.5,51.7 0.2,142.9 8.6,151.3 8.6,151.2 95,237.5 "></polygon>
            <polygon class="components-icon-white" points="213.2,64.2 295.4,146.4 216.7,225 229.2,237.5 320.5,146.3 312.2,137.9 312.1,138 225.7,51.7 "></polygon>
            <polygon class="components-icon-white" points="141.2,264.5 126.1,260.1 182.2,15.9 197.2,20.4 "></polygon>
        </symbol>	

        <symbol id="mobile-icon-white" viewBox="0 0 115 217.4">
            <title>mobile-icon-white</title>
                <g>
                <path class="mobile-icon-white" d="M188,0H89a8,8,0,0,0-8,8V209.4a8,8,0,0,0,8,8h99a8,8,0,0,0,8-8V8A8,8,0,0,0,188,0ZM158.5,202.5A3.51,3.51,0,0,1,155,206H122a3.51,3.51,0,0,1-3.5-3.5h0A3.51,3.51,0,0,1,122,199h33a3.51,3.51,0,0,1,3.5,3.5ZM191,181a8,8,0,0,1-8,8H94.47a8,8,0,0,1-8-8V17.84a8,8,0,0,1,8-8H183a8,8,0,0,1,8,8Z" transform="translate(-81 0)"></path>
                </g>
        </symbol>
        <!-- end symbols needed only in styleguide / not official app -->
        
        <symbol id="icon-close" viewBox="0 0 12 12">
            <title>close</title>
            <path class="icon-close" d="M6.83,6l5-5A.58.58,0,0,0,11,.17l-5,5-5-5A.58.58,0,0,0,.17,1l5,5-5,5a.58.58,0,0,0,.41,1A.58.58,0,0,0,1,11.83l5-5,5,5a.58.58,0,0,0,.83,0,.58.58,0,0,0,0-.83Z" transform="translate(0 0)"></path>
        </symbol>

        <symbol id="cmx-logo" viewBox="0 0 113 28">
            <title>cmx-logo</title>
            <path class="cmx-logo" d="M43.3,16.4h9.4v2.8h-8.4c-1,0-1,0.9-1,0.9v3.3c0,1,1,1,1,1h8.4v2.9h-9.4c-3.4,0-3.2-2.9-3.2-2.9v-5.2
            C40.1,16.4,43.3,16.4,43.3,16.4z M53.5,19.2v5.2c0,0-0.2,2.9,3.2,2.9h10v-2.9h-9.1c0,0-1,0-1-1v-3.3c0,0,0-0.9,1-0.9h9.1v-2.8h-10
            C56.7,16.4,53.5,16.4,53.5,19.2z M66.4,22.7v-2.3h-7.8v2.3H66.4z M86.8,23.2v-3.3c0,0,0-0.9,1-0.9h9.1v-2.8h-10c0,0-3.2,0-3.2,2.8
            v5.2c0,0-0.2,2.9,3.2,2.9h10v-2.9h-9.1C87.8,24.1,86.8,24.2,86.8,23.2z M89.2,22.7H97v-2.3h-7.8V22.7z M79.9,16.1h-12V27H71v-8h2.8
            v8H77v-8h2.8v8H83v-8.1C83,18.9,83.2,16.1,79.9,16.1z M112.9,16.1h-3.4v1.6l-4.3,2.2l-4.3-2.2v-1.6h-3.4v2.8l4.5,2.6l-4.5,2.6V27
            h3.4v-1.6l4.3-2.2l4.3,2.2V27h3.4v-2.8l-4.5-2.6l4.5-2.6V16.1z M24.9,0L0,27h10.8L35.7,0H24.9z M41.6,0L16.7,27h10.8L52.4,0H41.6z"></path>
        </symbol>

        <symbol id="icon-magnifier-glass" viewBox="0 0 25.68 25.68">
            <title>magnifier-glass</title>
            <path class="magnifier-glass" d="M25.49,23.37l-6.2-6.2A10.58,10.58,0,0,0,3.34,3.34,10.58,10.58,0,0,0,17.17,19.29l6.2,6.2a1.5,1.5,0,0,0,2.12-2.12Zm-20-7.18a7.59,7.59,0,1,1,10.73,0A7.6,7.6,0,0,1,5.46,16.19Z" transform="translate(-0.24 -0.24)"></path>
        </symbol>

        <symbol id="icon-warning" viewBox="0 0 20 20">
            <title>warning</title>
            <circle class="icon-warning" cx="10" cy="10" r="10"></circle>
            <path class="icon-warning-mark" d="M11,11.42H9V4h2Zm0,1.75H9v3.25h2Z"></path>
        </symbol>

        <symbol id="icon-close" viewBox="0 0 12 12">
            <title>close</title>
            <path class="icon-close" d="M6.83,6l5-5A.58.58,0,0,0,11,.17l-5,5-5-5A.58.58,0,0,0,.17,1l5,5-5,5a.58.58,0,0,0,.41,1A.58.58,0,0,0,1,11.83l5-5,5,5a.58.58,0,0,0,.83,0,.58.58,0,0,0,0-.83Z" transform="translate(0 0)"></path>
        </symbol>

        <symbol id="icon-left-double" viewBox="0 0 13.5 16">
            <title>left-double</title>
            <path class="icon-left-double" d="M7.24,15.83a.71.71,0,0,0,.09-1L1.64,8l5.7-6.83A.71.71,0,0,0,6.24.26L.17,7.54a.71.71,0,0,0,0,.91l6.07,7.29a.71.71,0,0,0,1,.09" transform="translate(0 0)"></path>
            <path class="left-double" d="M13.24,15.83a.71.71,0,0,0,.09-1L7.64,8l5.7-6.83A.71.71,0,0,0,12.24.26L6.17,7.54a.71.71,0,0,0,0,.91l6.07,7.29a.71.71,0,0,0,1,.09" transform="translate(0 0)"></path>
        </symbol>

        <symbol id="icon-right-double" viewBox="0 0 13.5 16">
            <title>right-double</title>
            <path class="icon-right-double" d="M.76,15.83a.71.71,0,0,1-.09-1L6.36,8,.67,1.17A.71.71,0,1,1,1.76.26L7.84,7.54a.71.71,0,0,1,0,.91L1.76,15.74a.71.71,0,0,1-1,.09" transform="translate(-0.5 0)"></path>
            <path class="icon-right-double" d="M14,8a.71.71,0,0,1-.17.46L7.76,15.74a.71.71,0,0,1-1.09-.91L12.36,8,6.67,1.17A.71.71,0,1,1,7.76.26l6.07,7.29A.71.71,0,0,1,14,8Z" transform="translate(-0.5 0)"></path>
        </symbol>

    </defs>	
</svg>

<router-outlet></router-outlet>